@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configure custom font */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_Black.ttf");
  font-weight: 900;
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}
